.calendar-container-custom {
  margin: 40px auto;
  height: 700px;
  width: 900px;
}

.fc-sat {
  background-color: rgba(70, 70, 70, 0.2);
}

.fc-sun {
  background-color: rgba(70, 70, 70, 0.2);
}

.fc-day:hover {
  background-color: rgb(228, 240, 243);
}

.fc-day-header {
  background-color: rgb(228, 240, 244);
}

.fc-day-header span {
  text-transform: capitalize;
  color: rgb(0, 126, 198);
}
