.calendar-container-custom {
  height: 800px;
  width: 1000px;
}

.fc-sat {
  background-color: rgba(70, 70, 70, 0.2);
}

.fc-sun {
  background-color: rgba(70, 70, 70, 0.2);
}

.fc-day:hover {
  background-color: rgba(30, 30, 30, 0.2);
}
