.calendar-container-custom {
  margin-top: 50px;
  height: 700px;
  width: 900px;
}

.fc-sat {
  background-color: rgba(70, 70, 70, 0.2);
}

.fc-sun {
  background-color: rgba(70, 70, 70, 0.2);
}

.fc-day:hover {
  background-color: rgb(228, 240, 243);
}
